<%- include("../../partials/nav") %>
<%- include("../../partials/head") %>

<body>
	<ol class="breadcrumb p-2">
		<li class="breadcrumb-item"><a class="breadcrumbPrevious" href="/">Home</a></li>
		<li class="breadcrumb-item"><a class="breadcrumbPrevious" href="/teams">Teams</a></li>
		<li class="breadcrumb-item breadcrumbCurrent">Delete '<%= team.name %>'</li>
	</ol>
	
	<div class="container h-100 d-flex justify-content-center align-items-center">
		<div class="container w-50 shadow p-3 mb-5 rounded">
			<form action="http://localhost:3000/delete/team/:id" method="post">
				<input name="team_id" value="<%= team.team_id %>" hidden> <br>
				<h2>Delete Team</h1>
				<p>
					Name: <%= team.name %> <br>
					Game: <%= team.gamename %> <br>
					Email: <%= team.email %> <br>
					Team ID: <%= team.team_id %>
				</p>
				<p class="text-danger"><strong><sub>* This action is irreversible</sub></strong></p>
				<button class="btn btn-danger  mt-2" type="submit">Delete Team</button>
				<a class="btn btn-secondary mt-2" href="/teams" role="button">Go Back</a>
			</form>
		</div>
	</div>
</body>
</html>