<%- include("../../../partials/head") %>
<%- include("../../../partials/nav") %>

<body>
	<h1 class="p-2 text-white"> <%= playername %>'s Games
	<a class="btn btn-outline-light m-2" href="/player/games/add/<%= playerid %>" role="button"><strong>+</strong> Add Player Game</a>
	</h1>
	<div class="m-2">
		<div class="row">
			<% playerGamesArray.forEach((game)=> { %>
				<div class="card m-2 text-white" style="width:18rem; background-color:#2c3e50">
					<div class="card-body">
						<h5 class="card-title"><%= game.name %></h5>
						<p class="card-text">
							Duration: <%= game.duration %> Minutes </br>
							Team Size: <%= game.team_size %> Players </br>
							Game ID: <%= game.game_id %>
						</p>
						<a class="mt-1 btn editButton" style="width:233px;"href="/edit/game/<%- game.game_id %>" role="button">Edit Game</a>
						<a class="mt-1 btn deleteButton" style="width:233px;" href="/player/games/remove/<%- game.player_id %>/<%- game.game_id %>" role="button">Remove Player from Game</a>
					</div>
				</div>
			<% }) %>
</body>
</html>