<%- include("../../partials/nav") %>
<%- include("../../partials/head") %>

<body>
	<div class="container h-100 d-flex justify-content-center align-items-center">
		<div class="container w-50 shadow p-3 mb-5rounded">
			<form action="http://localhost:3000/delete/game/:id" method="post">
				<input name="game_id" value="<%= game.game_id %>" hidden> <br>
				<h2>Remove Game from Player</h1>
				<p>
					Name: <%= game.name %> <br>
					Duration: <%= game.duration %> <br>
					Team Size: <%= game.team_size %> <br>
					Game ID: <%= game.game_id %>
				</p>
				<p class="text-danger"><strong><sub>* This action is irreversible</sub></strong></p>
				<button class="btn btn-danger  mt-2" type="submit">Delete Game</button>
				<a class="btn btn-secondary mt-2" href="/games" role="button">Go Back</a>
			</form>
		</div>
	</div>
</body>
</html>