<%- include("../../partials/nav") %>
<%- include("../../partials/head") %>
<%- include("../../partials/playerValidation") %>

<body>
	<ol class="breadcrumb p-2">
		<li class="breadcrumb-item"><a class="breadcrumbPrevious" href="/">Home</a></li>
		<li class="breadcrumb-item"><a class="breadcrumbPrevious" href="/players">Players</a></li>
		<li class="breadcrumb-item breadcrumbCurrent">Edit '<%= player.name %>'</li>
	</ol>
	
	<div class="toast-container p-3 bottom-0 end-0">
		<div class="toast invisible bg-danger" id="alertBox">
			<div class="toast-body">
				<p class="m-0" id="alertText">text</p>
			</div>
		</div>
	</div>
	
	<div class="container h-100 d-flex justify-content-center align-items-center">
		<div class="container w-50 shadow p-3 mb-5 darker rounded text-white">
			<h2>Edit Player</h2>
			<form action="http://localhost:3000/edit/player/:id" onsubmit="return validateForm()" method="post">
				<label for="name">Player Name</label> <br>
				<input class="userInput rounded" type="text" value="<%= player.name %>" name="name" id="name"> <br>
				<label for="email">Email</label> <br>
				<input class="userInput rounded" type="text" value="<%= player.email %>" name="email" id="email"> <br>
				<input type="hidden" value="<%= player.player_id %>" name="player_id"> <br> 
				<button class="btn saveButton" type="submit">Save Changes</button>
				<a class="btn deleteButton" href="/players" role="button">Discard Changes</a>
			</form>
		</div>
	</div>
</body>
</html>